{{extend 'layout.html'}}

<h1>Inserindo novo Sku</h1>

{{= formnew.custom.begin}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<small><strong>Loja : </strong></small>
			{{= formnew.custom.widget.idloja}}
		</div>
		<div class="col-md-6">
			<small><strong>Id Sku : </strong></small>
			{{= formnew.custom.widget.idsku}}
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</div>
</div>
{{= formnew.custom.end}}