{{extend 'layout.html'}}

<h1>Editando Sku</h1>

<div class="container-fluid">
	<div class="pull-left">
		<button class="btn btn-primary backlink"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Voltar</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary refreshinfo"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Atualizar</button>
	</div>
</div>

{{= formedit.custom.begin}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<small><strong>Loja : </strong></small>
			{{= formedit.custom.widget.idloja}}
		</div>
		<div class="col-md-6">
			<small><strong>Id Sku : </strong></small>
			{{= formedit.custom.widget.idsku}}
		</div>
	</div>
    <div class="row">
        <div class="col-md-6">
			<small><strong>Preço Min.: </strong></small>
			{{= formedit.custom.widget.precomin}}
		</div>
        <div class="col-md-6">
			<small><strong>Preço Max.: </strong></small>
			{{= formedit.custom.widget.precomax}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<small><strong>Nome : </strong></small>
			{{= formedit.custom.widget.name}}
		</div>
        <div class="col-md-3">
			<small><strong>Carregado : </strong></small>
			{{= formedit.custom.widget.loadedat}}
		</div>
        <div class="col-md-3">
			<small><strong>Atualizado : </strong></small>
			{{= formedit.custom.widget.updatedat}}
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
			<small><strong>Descrição : </strong></small>
			{{= formedit.custom.widget.description}}
		</div>
	</div>
    <div class="row">
		<div class="col-md-3">
			<small><strong>Monitorar Preço : </strong></small>
			{{= formedit.custom.widget.monitorapreco}}
		</div>
        <div class="col-md-3">
			<small><strong>Monitorar Estoque : </strong></small>
			{{= formedit.custom.widget.monitoraestoque}}
		</div>
        <div class="col-md-3">
			<small><strong>Ativo : </strong></small>
			{{= formedit.custom.widget.enable}}
		</div>
    </div>
    <div class="row">
		<div class="col-md-3">
			<small><strong>Preço : </strong></small>
			{{= formedit.custom.widget.price}}
		</div>
        <div class="col-md-3">
			<small><strong>Estoque : </strong></small>
			{{= formedit.custom.widget.stockquantity}}
		</div>
        <div class="col-md-3">
			<small><strong>Preço : </strong></small>
			{{= formedit.custom.widget.price}}
		</div>
        <div class="col-md-3">
			<small><strong>Estoque : </strong></small>
			{{= formedit.custom.widget.stockquantity}}
		</div>
	</div>
    <div class="row">
        <div class="col-md-3">
			<small><strong>Preço Submarino : </strong></small>
			{{= formedit.custom.widget.pricesubmarino}}
		</div>
        <div class="col-md-3">
			<small><strong>Preço Americanas : </strong></small>
			{{= formedit.custom.widget.priceamericanas}}
		</div>
        <div class="col-md-3">
			<small><strong>Preço Shoptime : </strong></small>
			{{= formedit.custom.widget.priceshoptime}}
		</div>
    </div>
    <div class="row">
        <div class="col-md-3">
			<small><strong>EAN : </strong></small>
			{{= formedit.custom.widget.ean}}
		</div>
        <div class="col-md-3">
			<small><strong>Prazo Cross : </strong></small>
			{{= formedit.custom.widget.crossdocking}}
		</div>
        <div class="col-md-3">
			<small><strong>Situação : </strong></small>
			{{= formedit.custom.widget.situation}}
		</div>
        <div class="col-md-3">
			<small><strong>Id B2W : </strong></small>
			{{= formedit.custom.widget.idb2w}}
		</div>
    </div>
    <div class="row">
        <div class="col-md-3">
			<small><strong>Altura : </strong></small>
			{{= formedit.custom.widget.height}}
		</div>
        <div class="col-md-3">
			<small><strong>Largura : </strong></small>
			{{= formedit.custom.widget.width}}
		</div>
        <div class="col-md-3">
			<small><strong>Comprimento : </strong></small>
			{{= formedit.custom.widget.length}}
		</div>
        <div class="col-md-3">
			<small><strong>Peso : </strong></small>
			{{= formedit.custom.widget.weight}}
		</div>
	</div>
    <div class="row">
        <div class="col-md-3">
			<small><strong>Categoria : </strong></small>
			{{= formedit.custom.widget.categoryid}}
		</div>
        <div class="col-md-3">
			<small><strong>Sub-Categoria : </strong></small>
			{{= formedit.custom.widget.subcategoryid}}
		</div>
        <div class="col-md-3">
			<small><strong>Familia : </strong></small>
			{{= formedit.custom.widget.familyid}}
		</div>
        <div class="col-md-3">
			<small><strong>Sub-Familia : </strong></small>
			{{= formedit.custom.widget.subfamilyid}}
		</div>
    </div>
    <div class="row">
		<div class="col-md-6">
			<small><strong>Link Submarino : </strong></small>
			{{= formedit.custom.widget.linksubmarino}}
		</div>
        <div class="col-md-6">
			<small><strong>Link Americanas : </strong></small>
			{{= formedit.custom.widget.linkamericanas}}
		</div>
     </div>
    <div class="row">
        <div class="col-md-6">
			<small><strong>Link Shoptime : </strong></small>
			{{= formedit.custom.widget.linkshoptime}}
		</div>
        <div class="col-md-6">
			<small><strong>Link Preco : </strong></small>
			{{= formedit.custom.widget.urlprice}}
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
			<small><strong>Imagens : </strong></small>
			{{= formedit.custom.widget.urlimages}}
		</div>
    </div>
	<div class="row">
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
	</div>
</div>
{{= formedit.custom.end}}

<script>
	$('.refreshinfo').on('click',function(){
		$.ajax({
			url: "{{=URL('sellforme', 'default', 'b2w_sku_refresh', args=[skuedit])}}",
		  	beforeSend: function( xhr ) {
				xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
		  	}
		}).done(function( data ) {
			if ( console && console.log ) {
				location.reload();
			}
		});
	});
	$('.backlink').on('click',function(){
		window.location = "{{=URL('sellforme', 'default', 'b2w_sku')}}";
	});
</script>